version: '3.8'

services:
  # =========================================
  # 1. USER SERVICE (Penyedia Key & Auth)
  # =========================================
  user-service:
    build: 
      context: ./user-service
    container_name: user-service
    ports:
      - "8001:8001"
    volumes:
      - ./user-service:/app  # Sinkronisasi kode & DB SQLite ke Host
    networks:
      - app-network

  # =========================================
  # 2. WALLET SERVICE (Butuh public.pem)
  # =========================================
  wallet-service:
    build: 
      context: ./wallet-service
    container_name: wallet-service
    ports:
      - "8002:8002"
    volumes:
      - ./wallet-service:/app
      # PENTING: Mount public.pem dari user-service ke sini agar bisa verify token
      - ./user-service/public.pem:/app/public.pem:ro 
    depends_on:
      - user-service
    networks:
      - app-network

  # =========================================
  # 3. TRANSACTIONS SERVICE (Butuh public.pem)
  # =========================================
  transactions-service:
    build: 
      context: ./transactions-service
    container_name: transactions-service
    ports:
      - "8003:8003"
    volumes:
      - ./transactions-service:/app
      - ./user-service/public.pem:/app/public.pem:ro
    depends_on:
      - user-service
      - wallet-service
      - fraud-service
      - history-service
    networks:
      - app-network

  # =========================================
  # 4. FRAUD SERVICE (Butuh public.pem)
  # =========================================
  fraud-service:
    build: 
      context: ./fraud-service
    container_name: fraud-service
    ports:
      - "8004:8004"
    volumes:
      - ./fraud-service:/app
      - ./user-service/public.pem:/app/public.pem:ro
    depends_on:
      - user-service
    networks:
      - app-network

  # =========================================
  # 5. HISTORY SERVICE (Butuh public.pem)
  # =========================================
  history-service:
    build: 
      context: ./history-service
    container_name: history-service
    ports:
      - "8005:8005"
    volumes:
      - ./history-service:/app
      - ./user-service/public.pem:/app/public.pem:ro
    depends_on:
      - user-service
    networks:
      - app-network

  # =========================================
  # 6. API GATEWAY (Pintu Masuk Utama)
  # =========================================
  api-gateway:
    build: 
      context: ./api-gateway
    container_name: api-gateway
    ports:
      - "8000:8000"
    volumes:
      - ./api-gateway:/app
    depends_on:
      - user-service
      - wallet-service
      - transactions-service
      - fraud-service
      - history-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge