services:
  user-service:
    build:
      context: ./user-service
    ports:
      - "8001:8001"
    env_file:
      - ./user-service/.env
    volumes:
      - ./user-service:/app
      - ./user-service/private.pem:/app/private.pem:ro
      - ./user-service/public.pem:/app/public.pem:ro

  wallet-service:
    build:
      context: ./wallet-service
    ports:
      - "8002:8002"
    env_file:
      - ./wallet-service/.env
    volumes:
      - ./wallet-service:/app 
      - ./user-service/public.pem:/app/public.pem:ro

  transactions-service:
    build:
      context: ./transactions-service
    ports:
      - "8003:8003"
    env_file:
      - ./transactions-service/.env
    volumes:
      - ./transactions-service:/app
      - ./user-service/public.pem:/app/public.pem:ro

  fraud-service:
    build:
      context: ./fraud-service
    ports:
      - "8004:8004"
    env_file:
      - ./fraud-service/.env
    volumes:
      - ./fraud-service:/app
      - ./user-service/public.pem:/app/public.pem:ro

  history-service:
    build:
      context: ./history-service
    ports:
      - "8005:8005"
    env_file:
      - ./history-service/.env
    volumes:
      - ./history-service:/app
      - ./user-service/public.pem:/app/public.pem:ro