services:
  user-service:
    build:
      context: ./user-service
    ports:
      - "8001:8001"
    env_file:
      - ./user-service/.env
    volumes:
      - ./user-service:/app

  wallet-service:
    build:
      context: ./wallet-service
    ports:
      - "8002:8002"
    env_file:
      - ./wallet-service/.env
    volumes:
      - ./wallet-service:/app 